:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.grid {
  display: grid;
  grid-template: 500px / auto auto auto;
  gap: 1rem;
}