.container {
    display: flex;
    flex-direction: column;
  }

  .drop-box {
    min-height: 300px;
    min-width: 300px;
    display: table;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  
  input {
    margin: 10px;
    color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .message {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #151515;
  }

  img {
    max-width: 33vw;
  }