<h1>Asset Search</h1>
<div class="search">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Asset Id</mat-label>
    <input matInput type="text" [(ngModel)]="assetid" (keydown.enter)="searched()" />
  </mat-form-field>
  <button mat-flat-button (click)="searched()">Search</button>
</div>

<!-- Loading Spinner for Search -->
<div *ngIf="loading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div class="results" *ngIf="!loading">
  <ng-container *ngIf="searchResults">
    <div class="table">
      <table mat-table [dataSource]="searchResults">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell color="primary" *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">
            {{ element.value }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="actions">

      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="picUrl">
    <div class="column">
      <img [src]="picUrl" alt="Image" />
      <div class="scale">
        Code Scale:
        <mat-slider min="0" max="4" step="0.1" showTickMarks discrete color="accent">
          <input matSliderThumb [(ngModel)]="scale">
        </mat-slider>
      </div>
      <div class="imageOutput">
        <button mat-flat-button (click)="download()">Download</button>
        <button mat-flat-button (click)="mergeImages()">
          <ng-container *ngIf="!verifyLoading[searchResultsObject!.asset_id]">Verify</ng-container>
          <mat-spinner *ngIf="verifyLoading[searchResultsObject!.asset_id]" diameter="20"></mat-spinner>
        </button>
      </div>
    </div>
  </ng-container>
</div>