:host{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  button {
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table {
    width: fit-content;
  }

  .mdc-data-table__table {
    margin: 10px;
    min-width: fit-content;
  }

  .clickable {
    cursor: pointer;
    color: rgb(255, 0, 255);
  }

}